*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    background-color: #f5f5f5;
}
.premier_div
{
    border: 2px solid red;
    height: 10%;
}
.div_principale
{
    border: 2px solid blue;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteneur_boutons
{
    background-color:white;
    width: 75%;
    height: 15%;
    margin: 6% 0 0 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.conteneur_boutons button
{
    border: none;
    text-decoration: none;
    color: white;
    padding: 1.5%;
    border-radius: 1em;
    box-shadow: 1px 1px 2px 1px black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.conteneur_boutons button:hover
{
    background-color: black;
}
.success,.success_message
{
    background-color: #28a745;
}
.danger,.danger_message
{
    background-color: #bd2130;
}
.warning,.warning_message
{
    background-color: #ffc107;
}
.info,.info_message
{
    background-color: #17adb8;
}
.notification
{
    display: flex;
    justify-content: flex-end;
    margin: 0 2% 2% 0;
}
.success_message,.danger_message,.warning_message,.info_message
{
    padding: 2% 4%;
    font-weight: bold;
    border-radius: 1em;
}