*
{
    margin: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.premier_div
{
    border: 2px solid red;
    height: 10%;
}
.div_principale
{
    border: 2px solid blue;
    min-height: 90%;
}
.conteneur
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gauche,.droite
{
    border: 2px solid green;
}
.slider
{
    display: flex;
    justify-content: center;
}
.slider img
{
   display: none;
   max-width: 53.9%;
}
.slider img.active
{
    display: block;
   max-width: 53.9%;
}
button
{
    cursor: pointer;
    padding: 2% 4%;
}