*
{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.premier_div
{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    align-items: center;
}
.premier_div a 
{
    text-decoration: none;
    color: white;
    background-color: rgb(21, 44, 105);
    text-align: center;
    display: block;
    padding: 1%;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
}
.premier_div a:hover
{
    opacity: 0.6;
}
.div_principale
{
    height: 90%;
}
.conteneur
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.slider
{
    display: flex;
    justify-content: center;
    height: 100%;
}
.slider img
{
   display: none;
}
.slider img.active
{
    display: block;
    max-width: 100%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.zooming
{
    transition: 0.4s ease-in-out;
    transform: scale(1.3);
}
button
{
    background: none;
    border: none;
}
button i
{
    color: black;
    font-size: 2em;
    padding: 1.5em 3em;
    transition: 0.4s ease-in-out;
    border-radius: 1.5em;
    background-color: blanchedalmond;
    cursor: pointer;
}
button i:hover
{
    color: blanchedalmond;
    background-color: black;
}
